input {
    background-color: whitesmoke;
    margin: 5px;
    padding: 10px;
    width: 200px;
    color: black;
    border-radius: 5px;
    border: 1px solid #aaa;
}

select {
  padding: 15px;
  margin: 5px;
  width: 200px;
  border-radius: 8px;
  border: 1px solid #aaa;
  background: whitesmoke;
  color: black;
}

.texto-solicitud-MEH {
  color: black;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style:oblique;
}

.contenedor-principal-MEH {
  margin-top:30px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}

.contenedor-campos-labels-MEH {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding:8px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.1);
    width: fit-content;
    margin-bottom:10px;
}

.contenedor-labels-MEH {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-top:5px;
}


.contenedor-campos-MEH {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    width: fit-content;
}

.btn-MEH {
  padding: 12px;
  margin: 5px;
  background-color: #b69f7f;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  transition: background-color 0.1s ease, color 0.1s ease, transform 0.15s ease;
}

.btn-MEH:hover {
  background-color: #937e60;
}

.btn-MEH:active{
    background-color: #afa18e;
}

.btn-MEH:disabled {
  background-color: #615441;
  color: rgb(156, 156, 156);
  cursor: not-allowed;
  box-shadow: none;
  transition: background-color 0.1s ease, color 0.1s ease, transform 0.15s ease;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

.tabla-contenedor-principal-MEH {
  height: 500px;   
  width: 1500px;      
  padding: 0;
  margin: 0 auto;
  background-color: #e3d3b9;
  border-bottom: 2px solid #b69f7f;
  border-top: 2px solid #b69f7f;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
}

.tabla-contenedor-MEH {
  max-height: 500px;   
  width: 1500px;  
  overflow-y: auto;      
  overflow-x: auto;     
  padding: 0;
  margin: 0 auto;
  background-color: #e3d3b9;
  border-bottom: 2px solid #b69f7f;
  animation: abrir-tabla-MEH 0.1s ease-out;
}

@keyframes abrir-tabla-MEH {
  from {
    height:0;
  }
  to {
    height:500px;
  }
}

.tabla-MEH {
  border-radius: 15px;
    border-collapse: separate;
  border-spacing: 1px;
  color:black;
  border-spacing: 0;
  table-layout: fixed;   /* ancho fijo */
  width: 100%;
}

.tabla-MEH th,
.tabla-MEH td {
  width: 200px; 
  user-select:none;
}

.tabla-MEH th{
  border-bottom: 2px solid #6d5d45;
}

.tabla-header-MEH {
  background-color: #b69f7f;
  color: white;
  padding: 10px;
  width: 200px;
}

.tabla-fila-MEH {
  height: 50px;
  color: black;
  text-align: center;
  background-color: whitesmoke;
  transition: background-color 0.1s ease, transform 0.1s ease;
}

.tabla-seleccionado-MEH {
  color: black;
  text-align: center;
  background-color: #dfd6c9;
  transform: scale(1.01);
  transition: background-color 0.1s ease, transform 0.1s ease;
}

.contenedor-boton-MEH{
  max-width:300px;
  margin: 0 auto;
  margin-top:30px;
}

.tabla-MEH th:first-child {
  position: sticky;
  left: 0;
  z-index: 15;                 
  backdrop-filter: blur(2px);  
}

.tabla-MEH td:first-child {
  position: sticky;
  background-color: #cdbaa0;
  box-shadow: 5px 0px 5px rgba(0,0,0,0.1);
  left: 0;
  z-index: 5;                  
  backdrop-filter: blur(2px);  
}

.td {
  animation: aparecer-MEH 0.2s, ease;
}

.td-LIBRE {
  background-color: #628057; 
  text-align: center;
}

.td-RESERVADA {
  background-color: #d7bb60;
  text-align: center;
}

.td-OCUPADA {
  background-color: #983c44; 
  text-align: center;
}

.td-FDS {
  background-color: #2d2d2d; 
  text-align: center;
}

.td-LIBRE, .td-RESERVADA, .td-OCUPADA, .td-FDS{
  transition: background-color 0.2s ease;
  height: 40px;
  width: 100px;
  color:transparent;
  border-bottom:1px dashed rgba(0,0,0,0.3);
  border-left:1px dashed rgba(0,0,0,0.2);
}

.label-campos-MEH {
  color:black;
  margin-left:8px;
  margin-right:115px;
}

.error-MEH{
  color: red;
  background-color: rgba(255,0,0,0.1);
  border: 1px solid red;
  font-weight: bold;
  padding: 5px;
  margin:0 auto;
  font-size:12px;
}