@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.titulo {
    text-align: center;
    font-family: "Cinzel", serif;
    font-style: italic;
    text-shadow:
      0 3px 5px rgba(0, 0, 0, 0.25),
      0 1px 1px rgba(0, 0, 0, 0.15);

    font-size:48px;
    color: #6d5944;
    font-weight: 600;
    letter-spacing: 4.0px;
}

.subtitulo {
  color: #70604f;
  text-align: center;
  font-style: italic;
  text-shadow:
      0 2px 2px rgba(0, 0, 0, 0.15);
  letter-spacing: 4.0px;
  padding-bottom: 10px;
}

.fondo {
    background-color: #f3e6d3;
    min-height: 100vh;
}

.contenedor {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    min-height:50vh;
}

.boton {
    background-color: #50563a;
    color: white;
    width: 180;
    height: 180;
    padding: 12px 22px;     
    margin: 4px;
    border-radius: 8px;      
    border: none;             
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;        
    letter-spacing: 0.5px;    
    transition: 
        background-color 0.25s ease,
        transform 0.12s ease,
        box-shadow 0.2s ease;  
}

.boton:hover {
    background-color: #6c705d;
    transform: translateY(-2px); 
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

/* Cuando lo presionan */
.boton:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.navbar {
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 20px;
  background-color: #b69f7f;
  border-bottom: 2px solid #937e60;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}

.navbar_center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar img {
  height: 50%; 
}

.icon_btn img {
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: opacity 0.2s ease;
}

.icon_btn:hover {
  opacity: 0.6;
}
