@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
  background: #f3e6d3; 
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.linea-corta {
  border: none; 
  border-top: 2px solid #b69f7f; 
  width: 45%; 
  margin: 2px auto; 
}


.titulo {
    margin-top: 100px;
    padding-top: 20px;
    text-align: center;
    font-family: "Cinzel", serif;
    font-style: normal;
    text-shadow:
      0 3px 5px rgba(0, 0, 0, 0.25),
      0 1px 1px rgba(0, 0, 0, 0.15);

    font-size:48px;
    color: #6d5944;
    font-weight: 600;
    letter-spacing: 4.0px;
}


.subtitulo {
  color: #70604f;
  text-align: center;
  font-style: italic;
  text-shadow:
      0 2px 2px rgba(0, 0, 0, 0.15);
  letter-spacing: 4.0px;
  padding-bottom: 10px;
}

.letra_btn {
    margin-top: 6px;
    text-align: center;
    font-family: "Montserrat", sans-serif; 
    font-weight: 600; 
    font-size: 16px;
    color: #f4f4f4;
    text-decoration: none;

    text-shadow: none;

    letter-spacing: 1.5px;

    line-height: 1.25;
}

.fondo {
    min-height: 100vh;
    background-color: #f3e6d3;
    background-image: url("/textura_suave.png");
    background-size: cover;
    opacity: 0.97;
}

.contenedor {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.boton {
  width: 300px;
  height: 200px;
  border-radius: 18px;
  background: rgb(106, 86, 66);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  color: #fff;
  border: none;
  outline: none;
  text-decoration: none;

  cursor: pointer;
  padding: 16px;

  transition: transform .2s ease, box-shadow .2s ease;
}

.boton img {
  width: 100%;
  height: 100%;
}



.boton:hover {
  transform: translateY(-10px) scale(1.01);
  box-shadow: 0 22px 48px rgba(0, 0, 0, 0.32);
}

.boton:active {
  transform: translateY(-3px);
  box-shadow: 0 14px 32px rgba(0, 0, 0, 0.22);
}

.navbar {
  position: fixed;
  width: 100%;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 20px;
  background-color: #b69f7f;
  backdrop-filter: blur(4px);
  background-color: rgba(182, 159, 127, 0.92);
  border-bottom: 3px solid #8c785e;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  z-index:60;
  overflow:visible;
}

.navbar_center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition:opacity 0.1s ease, transform 0.2s ease;
}

.navbar_center:hover {
  opacity:1.0;
  transform: scale(1.01) translateX(-50%) translateY(-50%);
}

.navbar img {
  height: 50%; 
}

.icon_btn img {
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: opacity 0.2s ease;
}

.icon_btn:hover {
  opacity: 0.6;
}

.iconos_boton {
  width: 92px;
  height: 92px;
  object-fit: contain;
}


tbody {
  position: relative;
}

thead {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  z-index:31;
}
.dropdown-button {
  padding: 8px;
  border-radius: 6px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.2s ease;
}

.dropdown-button:hover {
  background-color: #e5e5e5;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  margin-top: 20px;
  width: 160px;
  background: #e1d3bf;
  border: 3px solid #9c8669;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  z-index: 30;
  animation: dropdown-aparecer 0.15s ease-out;
}

.dropdown-item {
  color: #3f3a33;
  padding: 10px 14px;
  cursor: pointer;
  transition: background 0.15s;
  font-size: 14px;
  animation: dropdown-item-aparecer 0.3s;
  user-select: none;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

@keyframes dropdown-item-aparecer {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@keyframes dropdown-aparecer {
  from {
    opacity:0.5;
    height: 0;
  }
  to {
    opacity:1;
    height: 125px;
  }
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(2px);
  z-index: 99;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -260px; /* Oculto inicialmente */
  width: 260px;
  height: 100vh;
  background: #e1d3bf;
  border-right: 3px solid #9c8669;
  box-shadow: 4px 0px 15px rgba(0,0,0,0.1);
  padding: 20px 14px;
  transition: left 0.28s ease;
  z-index: 120;
}

.sidebar.open {
  left: 0;
}

/* Header del sidebar */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.sidebar-header h2 {
  font-family: "Cinzel", serif;
  font-size: 24px;
  color: #5a4b37;
}

.close-btn {
  font-size: 28px;
  cursor: pointer;
  border: none;
  background: none;
  color: #5a4b37;
}

.close-btn:hover {
  opacity: 0.6;
}

/* Lista del menú */
.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  padding: 14px 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  text-align: left;
  width:100%;
  cursor: pointer;
  color: #3f3a33;
  transition: background 0.02s;
  font-weight: bold;
}

.sidebar-item:hover {
  background: #d3c2ac;
}

