.form-container-DAH {
  margin: auto;
    background-color: #f3e6d3;
    min-height: 100vh;
}

.subtitulo-DAH{
  color: #70604f;
  text-align: center;
  font-style: italic;
  text-shadow:
      0 2px 2px rgba(0, 0, 0, 0.15);
  margin-bottom:30px;
  font-size: 20px;
  font-weight: bold;
}

.contenedor-DAH {
  display:flex;
  flex-direction: row;
  gap:60px;
  justify-content: center;
}

.subcontenedor-DAH {
  margin-left: 0px;
  margin-right: 0px;
}

.error-DAH {
  position:absolute;
  color: red;
  font-size: 11px;
  margin-top:-2px;
  margin-left:4px;
  white-space: pre-line;
}

.label-DAH {
  color:black;
  position:absolute;
  margin-top:-21px;
  margin-left:5px;
  font-size:15px;
}

.form-DAH {
  display:flex;
  flex-direction:column;
  max-width: 1000px;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
  align-items:center;
  margin: 0 auto;
  margin-top:10px;
}

.contenedor-botones-DAH {
  display:flex;
  flex-direction:row;
  column-gap:30px;
}

.grid-DAH {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap:30px;
  row-gap: 50px;
  margin-top: 10px;
}

.form-DAH input {
  
  width:200px;
  padding: 7px;
  border-radius: 8px;
  border: 1px solid #aaa;
  font-size: 15px;
  background-color: white;
  color:black;
}

.btn-DAH {
  margin-top: 25px;
  width: 250px;
  padding: 12px;
  background-color: #b69f7f;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

.btn-DAH:hover {
  background-color: #937e60;
}


.form-DAH select {
  width:200px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
  font-size: 15px;
  background: white;
  color: black;
}

