.titulo_fac {
    text-align: center;
    font-family: "Cinzel", serif;
    text-align:center;
    font-style: normal;
    text-shadow:
      0 3px 5px rgba(0, 0, 0, 0.25),
      0 1px 1px rgba(0, 0, 0, 0.15);
    font-size:38px;
    color: #11100f;
    font-weight: 600;
    letter-spacing: 4.0px;
}


.subtitulo_fac {
  color: #3d352c;
  text-align: center;
  font-style: italic;
  text-shadow:
      0 2px 2px rgba(0, 0, 0, 0.15);
  letter-spacing: 4.0px;
}

.arriba_bot {
  color: #302922;
  text-align: left;
  font-style: normal;
  text-shadow:
      0 2px 2px rgba(0, 0, 0, 0.15);
  letter-spacing: 2.0px;
}


.contenedor_fac {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-campos {
    display: flex;
    flex-direction: column;
    gap: 0; 
    padding:10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.15);
    margin: 0 auto;
    margin-top:50px;
    max-width: 300px
}

.contenedor-campos input {
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 16px;
    color: #302922; 
}


.obligatorio {
    color: red;
    font-weight: bold;
    margin-left: 2px;
}

.contenedor-campos .input-error {
    border: 2px solid red !important;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); 
}

.mensaje-error-campo {
    color: red;
    font-size: 13px;
    font-weight: 500;
    margin-top: -8px; 
    margin-bottom: 10px; 
    text-align: center;
}


.btn {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  background-color: #b69f7f;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}


